.popup{
    display:none;
    position: fixed;
    overflow: auto;
    bottom: 27%;
    left: 28%;
    width: 45%;
    height: 45%;
    background-color: rgb(105, 126, 245);
    margin: 0%;    

    p{
        position: fixed;
        text-align: center justify;
        .baixo{
            bottom: 37%;
            left: 35%;
            width: 30%;
        }   
        

        .cima{
            bottom: 37%;
            left: 35%;
            width: 20%;   
        }
    }

    li{
        list-style-type: none;
        text-align: center;
    
    }
}



/* .popup{
    display: none;
} */